.activity-earnings-container{
    margin-top: 3rem;
    display: flex;
    margin-bottom: 3rem;
    @media screen and (max-width: 650px){
        flex-direction: column;
    }
    .activity-container{
        width: 68%;
        @media screen and (max-width: 650px){
            width: 100%;
        }
       .activity-head-container{
           display: flex;
           align-items: center;
           .all-activity{
                margin: 0 0 0 auto;
                text-transform: uppercase;
                color: #79828b;
                font-size: 0.875rem;
                font-weight: 500;
            }
       }
        .activity-head{
            font-weight: 500;
            font-size: 1.25rem;
            letter-spacing: 0.25px;
            color: #42505c;
            @media screen and (max-width: 650px){
                margin-left: 1rem;
            }
        }
        .recent-container{
            margin-top: 1.375rem;
            height: 420px;
            box-shadow: 0px 4px 16px rgba(0,0,0,0.06);
            background-color: #fff;
            padding: 1.5rem;
            @media screen and(max-width:650px) {
                margin-left: 1rem;
                width: 95%;
            }
            .recent-head{
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 500;
                font-size: 0.875rem;
                color: #79828b;
            }
            .recent-list-container{
                margin-top: 1.5rem;
                .recent-list{
                    display: flex;
                    .user-image{
                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                    }
                    .user-details{
                        margin-left: 1.5rem;
                        .user-name{
                            font-size: 1rem;
                            font-weight: 500;
                            color: #42505c;
                        }
                        .project-details{
                            font-size: 0.875rem;
                            font-weight: 400;
                            color: #79828b;
                        }
                    }
                    .payments{
                        display: flex;
                        .btc{
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: 15px;
                            text-transform: uppercase;
                            letter-spacing: 1.25px;
                            background: rgba(210,134,98,0.1);
                            height: 2rem;
                            border-radius: 20px;
                            text-align: center;
                            padding-top: 0.5625rem;
                            width:5.625rem;
                            color: #d28e62;
                            margin-left: 0.75rem;
                        }
                        .eth{
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: 15px;
                            text-transform: uppercase;
                            letter-spacing: 1.25px;
                            background: rgba(98,113,210,0.1);
                            height: 2rem;
                            border-radius: 20px;
                            text-align: center;
                            padding-top: 0.5625rem;
                            width:5.625rem;
                            color: #6271d2;
                        }
                        .usd{
                            display:flex;
                            margin: 0 0 0 auto;
                            font-weight:500;
                            color: #79828b;
                            font-size: 1.25rem;
                        }
                    }
                    .time-posted{
                        display: flex;
                        margin:0 0 0 auto ;
                    }
                    .time-posted{
                        font-weight: 400;
                        font-size: 0.75rem;
                        color: #79828b;
                    }
                }
            }
        }
    }
    .earnings-container{
        width: 30%;
        margin-left: 1.5625rem;
        @media screen and (max-width: 650px){
            width: 100%;
            margin-left: 1rem;
        }
        .earnings-head-container{
            display: flex;
            align-items: center;
            @media screen and(max-width:650px) {
                margin-top: 1.5rem;
                width: 95%;
            }
            .view-all{
                margin: 0 0 0 auto;
                text-transform: uppercase;
                color: #79828b;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
        .earnings-head{
            font-weight: 500;
            font-size: 1.25rem;
            letter-spacing: 0.25px;
            color: #42505c;
        }
        .top-earners-container{ 
            margin-top: 1.375rem;
            margin-top: 1.375rem;
            height: 420px;
            box-shadow: 0px 4px 16px rgba(0,0,0,0.06);
            background-color: #fff;
            padding: 1.5rem;
            @media screen and(max-width:650px){
                width:95%;
            }
            .ranking-container{
                display: flex;
                .time-period{
                    display: flex;
                    margin: 0 0 0 auto;
                    .month{
                        margin-right: 0.8125rem;
                        font-weight: 400;
                        font-size: 0.75rem;
                        color: #79828b;
                    }
                    .all-time{
                        color: #6271d2;
                        font-size: 0.75rem;
                        font-weight: 500;
                    }
                }
                .ranking-head{
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    font-weight: 500;
                    font-size: 0.875rem;
                    color: #79828b;
                }
            }
            .earners-list-container{
                .earners-list{
                    display: flex;
                    align-items: center;
                    margin-top: 2rem;
                    .user-details{
                        margin-left: 0.75rem;
                        .username{
                            font-size: 1rem;
                            color: #42505c;
                            font-weight: 500;
                        }
                        .total-earnings{
                            letter-spacing: 1px;
                            font-size: 1rem;
                            font-weight: 400;
                            color: #79828b;
                        }
                    }
                    .rank{
                        font-size: 1.25rem;
                        font-weight: 400;
                        color: #42505c;
                    }
                    .horizontal-line{
                        height:1px;
                        border: 1px solid #e6ebf0;
                    }
                }
                .user-image{
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    margin-left: 0.75rem;
                }
            }
        }
    }
}