<div class="container-fluid no-padding">
    <div class="header-container">
        <div class="dash-elem">
            <div class="icon">
                <div class="menu">
                    <ion-icon name="menu-outline" class="ham-menu"></ion-icon>
                </div>
                <div class="dash-icon"></div>
            </div>
            <div class="dash-elem-text rubik">
                <span class="font-strong"> Dash </span><span class="text-with-opacity">Elements</span>
            </div>
            <div class="notification poppinss">
                <span class="unread-notification">3</span>
                <ion-icon name="notifications" class="notification-icon">
                </ion-icon>
            </div>
            <div class="account-name">
                Alex Doe
                <span class="more-options">
                    <ion-icon name="chevron-down" class="down-arrow"></ion-icon>
                </span>
            </div>
        </div>
        <ul class="navigation-container nav poppinss">
            <li class="nav-item selected">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
        <app-earnings-component></app-earnings-component>
    </div>
</div>